# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Criando as listas com os dados fornecidos:
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Gerando a Serie a partir das listas criadas:
pd.Series(data=anomalia_termica)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
anomaliatermica_ano = pd.Series(data=anomalia_termica, index=ano)
print(anomaliatermica_ano)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [20]:
arr = np.random.normal(100, 10, (20,3))

dataframe_ndarray = pd.DataFrame(arr)
print(dataframe_ndarray)

             0           1           2
0    95.701787  104.962538  104.011902
1   100.566708  103.123938  106.942052
2   103.114340  116.030236  101.996257
3    83.434015  101.203345   93.243051
4   103.217449  103.987522   98.192281
5    89.799066  103.340771   92.919537
6    97.331219  105.904963   97.402947
7    94.606006   83.326871   99.280965
8   118.515900  103.360098  110.903025
9   107.962644  101.487665  100.987818
10  103.770613   95.092344  119.066576
11  105.321365  104.261396   78.395045
12  106.745212  102.370412   99.362907
13   94.789523  115.291149   91.117124
14   95.021802   93.653504  102.337632
15  106.895745  101.324324   90.561563
16   96.883751   87.922321   92.467574
17  104.332119   97.070511   87.501944
18   92.973625  111.124512  106.509257
19  103.235954   88.330017  103.557438

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
dataframe_ndarray = pd.DataFrame(arr, columns = ['x1', 'x2', 'x3'], index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
print(dataframe_ndarray)

            x1          x2          x3
1    95.701787  104.962538  104.011902
2   100.566708  103.123938  106.942052
3   103.114340  116.030236  101.996257
4    83.434015  101.203345   93.243051
5   103.217449  103.987522   98.192281
6    89.799066  103.340771   92.919537
7    97.331219  105.904963   97.402947
8    94.606006   83.326871   99.280965
9   118.515900  103.360098  110.903025
10  107.962644  101.487665  100.987818
11  103.770613   95.092344  119.066576
12  105.321365  104.261396   78.395045
13  106.745212  102.370412   99.362907
14   94.789523  115.291149   91.117124
15   95.021802   93.653504  102.337632
16  106.895745  101.324324   90.561563
17   96.883751   87.922321   92.467574
18  104.332119   97.070511   87.501944
19   92.973625  111.124512  106.509257
20  103.235954   88.330017  103.557438

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [23]:
dataframe_ndarray['media'] = (dataframe_ndarray['x1'] + dataframe_ndarray['x2'] + dataframe_ndarray['x3']) / 3

print(dataframe_ndarray)

            x1          x2          x3       media
1    95.701787  104.962538  104.011902  101.558742
2   100.566708  103.123938  106.942052  103.544233
3   103.114340  116.030236  101.996257  107.046944
4    83.434015  101.203345   93.243051   92.626804
5   103.217449  103.987522   98.192281  101.799084
6    89.799066  103.340771   92.919537   95.353125
7    97.331219  105.904963   97.402947  100.213043
8    94.606006   83.326871   99.280965   92.404614
9   118.515900  103.360098  110.903025  110.926341
10  107.962644  101.487665  100.987818  103.479376
11  103.770613   95.092344  119.066576  105.976511
12  105.321365  104.261396   78.395045   95.992602
13  106.745212  102.370412   99.362907  102.826177
14   94.789523  115.291149   91.117124  100.399265
15   95.021802   93.653504  102.337632   97.004313
16  106.895745  101.324324   90.561563   99.593877
17   96.883751   87.922321   92.467574   92.424549
18  104.332119   97.070511   87.501944   96.301525
19   92.973625  111.124512  106.509257  103.535798
20  103.235954   88.330017  103.557438   98.374470

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [31]:
# Gerando a coluna contendo o logaritimo natural:
dataframe_ndarray['log_med'] = np.log(dataframe_ndarray['media'])

# Exibindo o DataFrame completo:
print(dataframe_ndarray)

            x1          x2          x3       media   log_med
1    95.701787  104.962538  104.011902  101.558742  4.620637
2   100.566708  103.123938  106.942052  103.544233  4.639999
3   103.114340  116.030236  101.996257  107.046944  4.673267
4    83.434015  101.203345   93.243051   92.626804  4.528579
5   103.217449  103.987522   98.192281  101.799084  4.623001
6    89.799066  103.340771   92.919537   95.353125  4.557587
7    97.331219  105.904963   97.402947  100.213043  4.607298
8    94.606006   83.326871   99.280965   92.404614  4.526177
9   118.515900  103.360098  110.903025  110.926341  4.708866
10  107.962644  101.487665  100.987818  103.479376  4.639372
11  103.770613   95.092344  119.066576  105.976511  4.663217
12  105.321365  104.261396   78.395045   95.992602  4.564271
13  106.745212  102.370412   99.362907  102.826177  4.633040
14   94.789523  115.291149   91.117124  100.399265  4.609155
15   95.021802   93.653504  102.337632   97.004313  4.574755
16  106.895745  101.324324   90.561563   99.593877  4.601101
17   96.883751   87.922321   92.467574   92.424549  4.526393
18  104.332119   97.070511   87.501944   96.301525  4.567484
19   92.973625  111.124512  106.509257  103.535798  4.639917
20  103.235954   88.330017  103.557438   98.374470  4.588781